svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 2px;
}

svg.custom .node text {
	font-size: 15px;
	background-color: rgb(206, 50, 50);
	fill: black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: rgb(15, 59, 73);
	stroke-width: 2px;
}

